<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37356017427-cii52umsbr6toog65cgb1noenbkut7ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37356017427-cii52umsbr6toog65cgb1noenbkut7ce</string>
	<key>API_KEY</key>
	<string>AIzaSyCv0yvCARXOqI5ZkH3DH4ux3jFwoZGi7GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>37356017427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sy.purplepillow-last</string>
	<key>PROJECT_ID</key>
	<string>purplepillow</string>
	<key>STORAGE_BUCKET</key>
	<string>purplepillow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37356017427:ios:97c7fba9511d0d0781ace6</string>
</dict>
</plist>